
<h3 style="text-align:center; color:darkgreen"> Thank You for Shopping with us!</h3>
<br>
<h5 style="text-align:center; color:chocolate">Your Order will be delivered within 2-5 working Days</h5>
<br>
<div style="text-align: center;"><button class="btn btn-success" style="width: 300px; height: 45px;" (click)="gotoshop()">Shop More</button><br></div>
<br>
<div style="text-align: center;color:chocolate">
    <h5>Click on Print Button to take print</h5>
    <button onclick="window.print()"style="width: auto; height: auto;">Print</button>
</div>

