<div class="body">
    <header>

        <div class="fluid-container p-3 ">
            <img class="rounded-circle" src="\assets\images\shopping.png" alt="Shopping Image" style="width: 80px; height: 80px;">
            <a href="#" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; position:sticky;font-size: 250%; text-decoration:none; -webkit-text-fill-color: rgb(29, 11, 11);">ShopForHome</a>
            <nav class="mt-4 navbar nav-item ">
                <!-- Links -->
                <li class="nav-item">
                    <a routerLink="home" class="clickme info" routerLinkActive="active">Home</a>
                </li>

                <li class="nav-item">
                    <a *ngIf="userloginService.isUserLoggedIn()" routerLink="listproducts" class="clickme info" routerLinkActive="active">Products</a>
                </li>

                <li class="nav-item">
                    <a *ngIf="userloginService.isUserLoggedIn()" (click)="check()" class="clickme info" routerLinkActive="active">My Profile</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="userloginService.isUserLoggedIn()" (click)="ordercheck()" class="clickme info" routerLinkActive="active">Orderd Items</a>
                </li>

                <li class="nav-item">
                    <a *ngIf="adminloginservice.isAdminLoggedIn()" routerLink="addproducts" class="clickme info" routerLinkActive="active">Add Product</a>
                </li>

                <li class="nav-item">
                    <a *ngIf="adminloginservice.isAdminLoggedIn()" routerLink="productlist" class="clickme info" routerLinkActive="active">Product List</a>
                </li>

                <li class="nav-item">
                    <a *ngIf="adminloginservice.isAdminLoggedIn()" routerLink="usersList" class="clickme info" routerLinkActive="active">Users List</a>
                </li>



                <li class="nav-item">
                    <a *ngIf="userloginService.isUserLoggedIn()" routerLink="compare" class="clickme info" routerLinkActive="active">Compare</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="btn dropdown-toggle" style="background-color: #0e0c10;border-radius: 10px; color: white;" data-bs-toggle="dropdown" id="dropdownMenu1" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false" *ngIf="userloginService.isUserLoggedIn()">Category</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <!--<a class="dropdown-item" href="#" routerLink="sports">Sports</a>
            <a class="dropdown-item" href="#" routerLink="homeappliances">Home Appliances</a>-->
                        <a class="dropdown-item" href="#" routerLink="Watches">pvcstatues</a>
                        <a class="dropdown-item" href="#" routerLink="Mobiles">sofa</a>
                        <a class="dropdown-item" href="#" routerLink="Tv">Walldecors</a>
                        <a class="dropdown-item" href="#" routerLink="Laptops">vase</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a *ngIf="userloginService.isUserLoggedIn()" routerLink="cart" class="clickme info" routerLinkActive="active">Cart</a>
                </li>

                <li class="nav-item">
                    <a *ngIf="userloginService.isUserLoggedIn()" routerLink="userLogout" class="clickme info " style="background-color:#0f0911;color: white;" routerLinkActive="active">LogOut</a>
                </li>

                <!--<li class="nav-item">
          <a *ngIf="retailerloginservice.isRetailerLoggedIn()" routerLink="retailerlogout" class="clickme info"style="background-color:#590086;color: white;" routerLinkActive="active">LogOut</a>
        </li>-->

                <li class="nav-item">
                    <a *ngIf="adminloginservice.isAdminLoggedIn()" routerLink="adminlogout" class="clickme info" style="background-color:#060406;color: rgb(247, 242, 242);" routerLinkActive="active">LogOut</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="btn dropdown-toggle" style="background-color: #151118;border-radius: 10px; color: white;" data-bs-toggle="dropdown" id="dropdownMenu2" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false" *ngIf="!userloginService.isUserLoggedIn() && !adminloginservice.isAdminLoggedIn()">Login/SignUp</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item" routerLink="userLogin">User Login</a>
                        <a class="dropdown-item" routerLink="userRegister">User Register</a>
                        <!--<a class="dropdown-item" routerLink="retailerLogin">Vendor Login</a>
            <a class="dropdown-item" routerLink="retailerRegister">Vendor Register</a>-->
                        <a class="dropdown-item" routerLink="adminLogin">Admin Login</a>
                        <!--<a class="dropdown-item" routerLink="adminRegister">Admin Register</a>-->
                    </div>
                </li>

            </nav>

            <form class="form-inline pt-3">
                <input type="text" class="searchbar" id="name" name="name" placeholder="   search for products" [(ngModel)]="name">&nbsp;
                <button (click)="Search()" class="btn" style="align-self: 10px; border-radius:5px;background-color:#0d0a0f;color: white;">Search</button>
            </form>
        </div>
    </header>

    <div class="fluid-container" style="font-family: 'Times New Roman';font-size: large;font-weight: bold;">


        <div class="card">

            <div class="card-body">

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>

    <footer class="page-footer font-small mdb-color lighter-3 pt-4 card-body">

        <div class="footer-copyright text-center py-3">All Rights Reserved 2022 @ ShopForHOME</div>

    </footer>
</div>